extends layout

block content
  .container.login
    .row
      .span4.offset4
        .dialog.login
          .contents
            form.well(method='POST', action='/login')
              label USERNAME:
              input(type='text', name='name', value=name)
              label PASSWORD
              input(type='password', name='password')
              .control-group
                button.btn(type='submit', name='login') Login
    if loginFailed
      .row
        .span4.offset-4
          .alert.alert-info
            i.icon-exclamation-sign
            | login failed.
