<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Backbone.js</title>
</head>
<style type="text/css">
  .completed {
    text-decoration: line-through;
    color: #888888;
  }
</style>
<body>

  <h1>Tasks</h1>

  <form id="addTask">
    <input type="text" id="title">
    <input type="submit" value="add">
  </form>

  <div id="tasks"></div>

  <script type="text/template" id="task-template">
    <input type="checkbox" class="toggle" <%= completed ? 'checked': '' %>>
    <span class="<%= completed ? 'completed' : '' %>">
      <%- title %>
    </span>
    <span class="delete">[×]</span>
  </script>
  <script src="js/underscore/underscore.js"></script>
  <script src="js/jquery/jquery.js"></script>
  <script src="js/backbone/backbone.js"></script>
  <script src="js/todo.js"></script>
</body>
</html>