/*
header {
    font-size: 18px;
}

header a {
    color: red;
}
*/
header {
  font-size: 18px;
}
header a {
  color: #ff0000;
}
header a:hover {
  color: green;
}
p {
  margin-left: 25px;
}
.button-ok {
  color: green;
}
.button-ng {
  color: red;
}
